*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
app/build/
app/google-services.json
app/src/*/google-services.json
app/release.properties
app/*.jks
app/*.keystore
app/keys/
firebase/functions/node_modules/
firebase/tests/node_modules/
firebase/tests/firestore-debug.log
firebase/tests/storage-debug.log
firebase/tests/firebase-debug.log
.gradle-local/
.kotlin/
.tmp/
