*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
app/build/
app/google-services.json
app/release.properties
app/*.jks
app/*.keystore
firebase/functions/node_modules/
.gradle-local/
.tmp/
